*{
    box-sizing: border-box;
}

header,footer {
    height: 100px;
    border: 3px solid black;
    clear: both 
}

.row1{
    height: 300px;
    width: 100%;
    border: 3px solid black;
}

.row2left{
    height: 300px;
    width: 30%;
    border: 3px solid black;
    float:left;
}
.row2right{
    height: 300px;
    width: 70%;
    border: 3px solid black;
    float:left;
}


@media (min-width: 1200px) and (max-width:1300px) {
    section{
        background: red;
    }
}

@media (min-width: 1100px) and (max-width:1200px) {
    section{
        background: orange;
    }
}

@media (min-width: 1000px) and (max-width:1100px) {
    section{
        background: green;
    }
}

@media (min-width: 900px) and (max-width:1000px) {
    section{
        background: blue;
    }
}

@media (min-width: 800px) and (max-width:900px) {
    section{
        background: indigo;
    }
}

@media (min-width: 700px) and (max-width:800px) {
    section{
        background: violet;
    }
}

@media screen and (max-width: 700px){
    section{
        background: papayawhip;
    }
}

@media screen and (max-width: 700px){
    .row2right,.row2left{
        float:none;
        width:auto;
    }
}